* {
	padding: 0;
	margin: 0;
}

.header {
	
}

.img {
	width: 32px;
}

.img2 {
	width: 31px;
}


.menu2 {
	flex-grow: 1;
}

.menu {
	justify-content: space-around;
	display: flex;
	list-style: none;
}

.menu-bottom {
	ustify-content: space-around;
	display: flex;
	list-style: none;
}

.menu1 {
	text-decoration: none;
	line-height: 75px;
	display: block;
	
	
	color: white;
	font-weight: bold;

}

.header {
	background: url(picture/tj-holowaychuk-iGrsa9rL11o-unsplash.jpg);
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-position: bottom;
	background-size: cover;
	border-bottom-left-radius: 20px;
	border-bottom-right-radius: 20px;
	-webkit-box-shadow: 0px 18px 25px 5px rgba(34, 60, 80, 0.33);
	-moz-box-shadow: 0px 18px 25px 5px rgba(34, 60, 80, 0.33);
	box-shadow: 0px 18px 25px 5px rgba(34, 60, 80, 0.33);
	
}

.div {
	display: flex;

}


h1 {
	padding: 100px 0px;
	text-align: center;
}


body {
	background-color: #0093E9;
	background-image: linear-gradient(160deg, #0093E9 0%, #80D0C7 100%);
	color: white;

	
}


.footer {
	display: flex;
	justify-content: space-around;
	border-top-right-radius: 20px;
	border-top-left-radius: 20px;
	background: #81DAF5;
	height: 100px;
	align-items: center;
	-webkit-box-shadow: 0px -16px 8px 0px rgba(34, 60, 80, 0.2);
	-moz-box-shadow: 0px -16px 8px 0px rgba(34, 60, 80, 0.2);
	box-shadow: 0px -16px 8px 0px rgba(34, 60, 80, 0.2);
}


ul {
	
}


.center {
	color: green;
	margin: 30px 0px;
}

.preim2 {
	border: 1px solid;
	text-align: center;
	width: 900px;
	margin: 0 auto;
	margin-top: 20px;
	padding: 10px 0px;
}


.if {
	text-align: center;
}


.facts {
	list-style: none;
	
}

.facts li::before {
	content: "✓";
	
}

.counteiner {
	max-width: 1200px;
	margin: 0 auto;
}


.courses {
	display: flex;
	width: 800px;
	flex-wrap: wrap;
	
	height: 0px;
	overflow: hidden;
	transition: 1s;
	margin: 0 auto;
	justify-content: space-around;


}


.f {
	width: 300px;
	padding: 20px;
	display: block;
	margin: 30px auto;
	background-image: linear-gradient( 69.7deg,  rgba(244,37,243,1) 1.4%, rgba(244,87,1,1) 36.2%, rgba(255,204,37,1) 72.2%, rgba(20,196,6,1) 113% );
	border-radius: 20px;
	color: white;
	font-size: 20px;
	font-weight: bold;
	outline: none;
	margin-top: 20px;
	-webkit-box-shadow: 0px 5px 10px 2px rgba(0, 255, 7, 0.2);
	-moz-box-shadow: 0px 5px 10px 2px rgba(0, 255, 7, 0.2);
	box-shadow: 0px 5px 10px 2px rgba(0, 255, 7, 0.2);

}


.cours {
	margin: 10px 0px;
	width: 194px;
	height: 300px;
	transition: 1s;
	overflow: 	hidden;	

}


.cours:hover {
	height: 390px;

}


.cours img {
	box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
	-webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
	border-radius: 20px;
}



.img3 {
	width: 300px;
	-webkit-box-shadow: 0px 5px 10px 10px rgba(34, 60, 80, 0.2);
	-moz-box-shadow: 0px 5px 10px 10px rgba(34, 60, 80, 0.2);
	box-shadow: 0px 5px 10px 10px rgba(34, 60, 80, 0.2);

}





.class {
	display: flex;
}





.news0, .news1, .news2, .news3, .news4 {
	width: 60px;
	height: 400px;
	border: 1px solid silver;
	transition: 1s;
	overflow: hidden;
	text-align: center;
	-webkit-box-shadow: 0px 5px 29px 21px rgba(34, 60, 80, 0.2);
	-moz-box-shadow: 0px 5px 29px 21px rgba(34, 60, 80, 0.2);
	box-shadow: 0px 5px 29px 21px rgba(34, 60, 80, 0.2);
	

	background-color: #8EC5FC;
	background-image: linear-gradient(62deg, #8EC5FC 0%, #E0C3FC 100%);

}


.news {
	display: flex;
	justify-content: center;
	overflow: hidden;
	flex-direction: row;

}

.news0:hover {
	width: 400px;
	background: pink;
	overflow-y: scroll;
	border-top-left-radius: 20px;
	border-bottom-left-radius: 20px;
}

.news1:hover {
	width: 400px;
	background: lightblue;
	overflow-y: scroll;
	height: 400px;


}





.news2:hover {
	width: 400px;
	background: green;
	overflow-y:  scroll;
}

.news3:hover {
	width: 400px;
	background: lightgreen;
	overflow-y: scroll;
}


.news4:hover {
	width: 400px;
	background: red;
	overflow-y: scroll;
	border-top-right-radius: 20px;
	border-bottom-right-radius: 20px;
}


.img7 {
	width: 200px;
}


.pras {
	height: 400px;
}

.photoses {
	display: flex;
	width: 280px;
	overflow: hidden;
	transition: 1s;
	margin: 0 auto;
	padding: 20px;

}


.photoses:hover {
	width: 500px;

}


.img77 {
	width: 200px;
}

.logo-tip {
	width: 100px;
	transition: 0.6s;
}


.text-align {
	text-align: center;
	margin: 30px 0px;
}


.Opis {
	margin: 0px 20px;
}


.ifram {
	display: block;
	margin: 20px auto;
	-webkit-box-shadow: 0px 0px 27px 29px rgba(34, 60, 80, 0.2);
	-moz-box-shadow: 0px 0px 27px 29px rgba(34, 60, 80, 0.2);
	box-shadow: 0px 0px 27px 29px rgba(34, 60, 80, 0.2);
	border-radius: 20px;
}


::-webkit-scrollbar {
	width: 13px;
	height: 13px;
}
::-webkit-scrollbar-thumb {
	background: radial-gradient(circle, #e100ff 14%,#db4698 75%);
	border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover{
	background: linear-gradient(13deg, #c7ceff 14%,#f9d4ff 64%);
}
::-webkit-scrollbar-track{
	background: transparent;
	border-radius: 10px;
	box-shadow: inset 7px 10px 12px #f0f0f0;
}


.contact {
	background: rgba(244, 246, 247, 0.4);
	width: 1200px;
	height: 400px;
	margin: 50px auto;
	padding: 20px;
	border-radius: 20px;
	box-sizing: border-box;	
	-webkit-box-shadow: 0px 5px 20px 20px rgba(240, 0, 255, 0.2);
	-moz-box-shadow: 0px 5px 20px 20px rgba(240, 0, 255, 0.2);
	box-shadow: 0px 5px 20px 20px rgba(240, 0, 255, 0.2);
	display: flex;
	justify-content: space-between;		
}


.www  {
	width: 300px;
	margin: 0px;
	border-radius: 	20px;
	-webkit-box-shadow: -5px -5px 16px 2px rgba(240, 0, 255, 0.6);
	-moz-box-shadow: -5px -5px 16px 2px rgba(240, 0, 255, 0.6);
	box-shadow: -5px -5px 16px 2px rgba(240, 0, 255, 0.6);
}

.p_and_h3 {
	font-size: 20px;
}


.iframe {
	margin-bottom: 40px;
	border-radius: 	20px;
}


/*MEDIAZAPROS*/
@media (max-width: 575px) {
	.logo-tip {
		width: 70px;
		height: 70px; 

	}
} 


@media (max-width: 420px) {
	.logo-tip {
		
		display: none;
	}

	body {
		
	}
	.news {
		flex-direction: column;
	}
	.news0, .news1, .news2, .news3, .news4 {
		width: 280px;
		margin: 20px auto;



	}
	.news0:hover {
		width: 300px;
		background: pink;
		overflow-y: scroll;
		border-top-left-radius: 20px;
		border-bottom-left-radius: 20px;
	}


	.news1:hover {
		width: 300px;
		background: lightblue;
		overflow-y: scroll;
		height: 400px;


	}





	.news2:hover {
		width: 300px;
		background: green;
		overflow-y:  scroll;
	}

	.news3:hover {
		width: 300px;
		background: lightgreen;
		overflow-y: scroll;
	}


	.news4:hover {
		width: 300px;
		background: red;
		overflow-y: scroll;
		border-top-right-radius: 20px;
		border-bottom-right-radius: 20px;
	}


	.photoses {
		flex-direction: column;
		padding: 0px;
	}

	.contact {
		flex-direction: column;
		width: 300px;
		height: auto;
		justify-content: center;
		align-items: center;
	}

	.www  {
		width: 200px;
		margin-top: 20px;
	}


	.footer {
		flex-direction: column;
	}

	.preim2  {
		width: 300px;
	}


	.ifram {
		width: 300px;

	}


	.courses {
		flex-direction: column;
		height: auto;
		width: 300px;
		justify-content: center;
		align-items: center;
	}

	.f {
		display: none;
	}
	


	.counteiner {
		width: 300px;
		

	}

	.menu {
	justify-content: space-around;
	display: flex;
	list-style: none;
	flex-direction: column;
	text-align: center;
}

.menu-bottom {

}



}





